# Ignore all CSV files
*.csv

#ignore malware files for now
dataset/
venv/
training_data/
balanced_training_data/

# Ignore all text files
*.txt

# Ignore all image files (training and validation)
*.jpeg
*.jpg
*.png
*.gif
*.bmp
*.tiff
*.webp

# Ignore ember features
ember2018/
emberFeatures/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
